.CompanyInfo {
  z-index: 1px;
  background-color: rgb(226, 226, 226);
  list-style: none;
  position: absolute;
  top: 50px;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
