.companyList {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}
.companylist_AI_search {
  width: 800px;
  margin: 0 auto;
}
.searchContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
