/* .JobNoticeList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.JobNoticeListWrapper {
  border: 1px solid rgb(246, 246, 246);
  border-radius: 20px;
  width: 80%;
  height: 100%;
} */

.JobNoticeList {
  padding: 20px 200px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
