.itemWrapper {
  border-radius: 10px;
  border: solid 0.5px rgb(226, 226, 226);
  padding: 20px 15px;
  width: 400px;
}
.info {
  display: flex;
  margin-bottom: 20px;
}

.moreBtn {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px 20px;
  text-align: center;
  margin: 0px 50px;
  background-color: rgb(236, 236, 236);
}
