.recentReviewList {
  padding: 20px 200px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.reviewTitle {
  position: absolute;
  left: calc(50% - 550px);
  font-size: 28px;
  font-weight: bold;
  width: 1100px;
  border-bottom: 3px solid #58c179;
  padding-bottom: 15px;
  padding-left: 20px;
}
.gap {
  height: 60px;
}
.recentReview {
  margin-top: 120px;
}
