@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Pretendard', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/font/Pretendard-Medium.woff2') format('woff2');
}
:root {
  --primary-color: #58c179;
  --secondary-color: #57b894;
  --black: #000000;
  --white: #ffffff;
  --gray: #efefef;
  --gray-2: #757575;

  --facebook-color: #4267b2;
  --google-color: #db4437;
  --twitter-color: #1da1f2;
  --insta-color: #e1306c;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
